<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Find all of our tents</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Tent</h3>
    <%= link_to "Create a new tent", new_tent_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @tents.each do |tent| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to tent_path(tent), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in">
            <%= tent.name %>
            <%= tent.address %>
            <%= tent.description %>
            <%= tent.price %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
