<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="titre">
    <h1>Find all of our tents</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Outfit:wght@600&display=swap" rel="stylesheet">
<div class="container py-2">

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group">

      <%= form_with url: tents_path, method: :get do |form| %>
        <div class="input-group">
          <%= form.text_field :query, placeholder: "Search...", class: "form-control" %>
          <div class="input-group-append">
            <%= form.button type: "submit", class: "btn" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </form>

  <br> <p> If you have a tent and want to rent it, create it: </p>
  <%# <div class= "calendar">
    <h1> Please enter your avaibilities </h1>
      <label for="start">Start date:</label>
      <input type="date" id="start" name="trip-start"
            value="2023-06-21"
            min="2023-06-21" max="2023-12-31">
      <label for="end">End date:</label>

      <input type="date" id="start" name="trip-start"
            value="2023-06-22"
            min="2023-06-21" max="2023-12-31">
      <a class="btn btn-ghost-v" href="#"> Search </a>
  </div> %>

  <div class="center-button">
    <%= link_to "Create a new tent", new_tent_path, class: "btn btn-flat" %>
  </div>

  <div class="row">
    <% @tents.each do |tent| %>
      <%= link_to tent_path(tent), class:"text-decoration-none" do %>
        <div class="card-tent">
          <%# <img class="d-block w-100" src="https://source.unsplash.com/random/?tent/"> %>
          <div class="card-tent-infos">
            <div>
              <h2><%= tent.name %></h2>
              <p><%= tent.address %></p>
              <p><%= tent.description %></p>
              <% if tent.photo.attached? %>
                <p><%= cl_image_tag tent.photo.key, class: "image-tent" %></p>
              <% end %>
              <h2 class="card-tent-pricing"><%= tent.price %>€</h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
