<h1 class="titremomo"><strong><%=@tent.name %></strong></h1>

<%# carousel %>


    <div class="carousel-inner">

       <a class="btn btn-ghost" href="#"> <%= @tent.price %> </a>
       <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    </div>


<%# <!-- card info --> %>
    <div class= "profilepicture">
            <img class="profilepicture" src=<%= @user.profilepic %> alt="Third slide">
            <div class= "profileinfos">
            <h2> <%= @tent.user.first_name%></h2>
            <p> <%= @tent.description%></p>
            </div>
              <div class="notification-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
</div>
    </div>


<div>
<a class="btn btn-book" href="#">Book Your Tent</a>
</div>
